*{
    text-align: center;
    margin: 10px;
}

body{
    background-image: linear-gradient(to right,rgb(172, 80, 172), rgb(219, 168, 207), rgb(168, 196, 219)) ;

}

.main{
    display: grid;
    justify-content: center;
}

button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173, 218, 173);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.b1, .b2, .b3{
    border-top: solid green;
    background-color: white;
    border-top-width: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
}


